@inherits UmbracoTemplatePage<eg.skrift.data.EventDetail>
<div id="event">
    <div class="container-fluid" id="event">
        @if (Model != null)
        {
            <div class="rating">
                <h1>@Model.Content.EventTitle</h1>
                <h2>@Model.Content.EventSummary</h2>
                <b>Event Rating: @Model.Content.EventRating</b>
            </div>
        }
    </div>
</div>